/* header, links, misc */
a {
	font-family: montserrat, arial, helvetica, sans-serif;
	color: white;
	text-decoration: none;
}

a:hover {
	color: black;
	font-weight: bold;

}

h1 {
	font-family: montserrat, arial, helvetica, sans-serif;
	position: left;
	font-size: 40px;
	color: white;
	margin: auto;
}

h3 {
	padding-bottom: 0px;
}

img {
	max-width:100%
}

/* email content */
.container {
  text-align: center;
}

.style {
	font-family: montserrat, arial, helvetica, sans-serif;
	margin-top: 10px;
	font-weight: lighter; 
}

.date {
	width: 20%;
	display: inline-block;
	padding: 10px 0 10px 0;
	text-align: left;

}

.subject {
	width: 20%;
	display: inline-block;
	padding: 10px 0 10px 0;
	text-align: left;
}

.sender {
	display: inline-block;
	padding: 10px 0 10px 0;
	text-align: left;
	width: 20%
}

/* sticky navbar */
.fixed-nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 20px;
  background-color: #ff7c81;
  padding: 20px;
  text-align: center;
}

#logo {
	width: 600px;
	margin-top: 60px;

}
