/* header and links */
a {
	font-family: Times, serif;
	color: white;
	text-decoration: none;
}

a:hover {
	color: #c6c6c6;
	font-weight: bold;

}

nav {
	margin: auto;
	text-align: center;
	background-color: maroon; 
}

h1 {
	font-family: cursive;
	position: left;
	font-size: 40px;
	color: white;
	margin: auto;
}

/* email content */
.container {
  text-align: center;
}

.date {
	display: inline-block;
	width: 20%;
	padding: 5px 0 5px 0;
	text-align: left;
}

.subject {
	display: inline-block;
	width: 30%;
	padding: 5px 0 5px 0;
	text-align: left;
}

.sender {
	display: inline-block;
	width: 20%;
	padding: 5px 0 5px 0;
	text-align: left;
}
